main > .container {
    padding: 110px 15px 20px !important;   
}

h1{
    font-family: fantasy !important;
    color: #C4BBB6 !important;
    font-size: 60px !important;
    margin-top: 3rem;
}

p{
    text-align: right;
    font-size: 1.1rem;
}

a{
    color: #dfdfdf;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #dfdfdf;
}

body {
    background-size: cover !important;
    background-color: #2b2b2b !important;
    line-height: 1.2 !important;
}

label {
    display: inline-block !important;
    margin-bottom: 0.5rem !important;
    color: #fff !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
    background-color: #343a40 !important;
}


.footer {
    font-size: .9em !important;
    height: 60px !important;
}

.footer > .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1520px !important;
}

/*Color del fondo del header*/
.bg-dark {
    background-color: #000000a6 !important;
}


.container{
    padding-right: 0px !important;
}

/*Accesos Rápidos*/

.menu{
    margin: 7rem 1rem 0 0 !important;
    display: flex !important;
    justify-content: flex-end !important;
}

.acceso-rapido{
    font-family: fantasy;
    color: #C4BBB6 !important;
    font-size: 35px !important;
    margin-top: 3rem;
}

.items-acceso-rapido{
    display: flex !important;
    justify-content: flex-end !important;
    margin-bottom: 3rem !important
}

/*Menu*/
 
/*Color del fondo del header*/
.bg-dark {
    background-color: rgba(0, 0, 0, 0.65) !important; /* Estado inicial con transparencia */
    transition: background-color 0.3s ease !important; /* Transición suave */
}

header .navbar{
    padding: 1.5rem 0 !important;
    height: 100px !important;
}

a.navbar-brand {
    font-family: fantasy;
    font-size: 52px !important;
    color: #C4BBB6 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/* Estado del header al hacer scroll, sin transparencia */
.navbar-expand-md.scrolled {
    background-color: #0a0a0a !important; /* Negro sólido */    
}

.navbar-expand-md .navbar-collapse{
    display: flex !important;
    flex-basis: auto !important;
    flex-direction: row-reverse;
}


.dropdown-menu.show {
    background-color: #000000a6; /* Fondo del desplegable */
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.dropdown-item {
    color: #fff; /* Color del texto en el desplegable */
}

.dropdown-item:hover {
    background-color: #C7BEB9; /* Cambio de color al hacer hover */
    color: #000;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    background-color: #C7BEB9;
}
    

.help-block {
    color: #dc3545; /*color mensaje de error*/
}

/*quitar step de campo telefono*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Inputs buscadores*/
.apuntarse-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.clientes-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.componen-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.ejercicios-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.entrenadorespersonales-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.espacios-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.monitores-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.clases-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.rutinas-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.sesiones-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}

.titulos-index .form-control{
    background-color: #2B2B2B !important; 
    color: #f2f2f2 !important;
}


/*buscadores de las columnas no principales*/
.clientes-index #w0-filters > td:nth-child(3) > input, .clientes-index #w0-filters > td:nth-child(4) > input, .clientes-index #w0-filters > td:nth-child(5) > input{
    display: none;
}

.entrenadorespersonales-index #w0-filters > td:nth-child(3) > input, .entrenadorespersonales-index #w0-filters > td:nth-child(4) > input, .entrenadorespersonales-index #w0-filters > td:nth-child(5) > input{
    display: none;
}

.monitores-index #w0-filters > td:nth-child(3) > input, .monitores-index #w0-filters > td:nth-child(4) > input, .monitores-index #w0-filters > td:nth-child(5) > input, .monitores-index #w0-filters > td:nth-child(6) > input{
    display: none;
}

.ejercicios-index #w0-filters > td:nth-child(2) > input, .ejercicios-index #w0-filters > td:nth-child(3) > input, .ejercicios-index #w0-filters > td:nth-child(4) > input{
    display: none;
}

.espacios-index #w0-filters > td:nth-child(2) > input{
    display: none;
}

.apuntarse-index #w0-filters, .titulos-index #w0-filters, .componen-index #w0-filters{
    display: none;
}


.clientes-index #w0-filters > td:nth-child(1) > input::placeholder, .clientes-index #w0-filters > td:nth-child(2) > input::placeholder,
.entrenadorespersonales-index #w0-filters > td:nth-child(1) > input::placeholder, .entrenadorespersonales-index #w0-filters > td:nth-child(2) > input::placeholder,
.monitores-index #w0-filters > td:nth-child(1) > input::placeholder, .monitores-index #w0-filters > td:nth-child(2) > input::placeholder,
.apuntarse-index #w0-filters > td:nth-child(1) > input::placeholder, .apuntarse-index #w0-filters > td:nth-child(2) > input::placeholder,
.ejercicios-index #w0-filters > td:nth-child(1) > input::placeholder,
.espacios-index #w0-filters > td:nth-child(1) > input::placeholder,
.sesiones-index #w0-filters > td:nth-child(3) > input::placeholder, .sesiones-index #w0-filters > td:nth-child(4) > input::placeholder, .sesiones-index #w0-filters > td:nth-child(5) > input::placeholder,
.rutinas-index #w0-filters > td:nth-child(1) > input::placeholder,
.titulos-index #w0-filters > td:nth-child(1) > input::placeholder,
.clases-index #w0-filters > td:nth-child(1) > input::placeholder, .clases-index #w0-filters > td:nth-child(2) > input::placeholder{
    color: #C0B8B3;
    font-family: arial;
    font-style: italic;
    font-size: 15px;
}

.apuntarse-index, .clientes-index, .componen-index, .ejercicios-index, .entrenadorespersonales-index, .espacios-index,.monitores-index, .clases-index, .rutinas-index, .sesiones-index, .titulos-index{
    width: auto;
    margin: 2rem -4rem 0 -4rem;
}

.highcharts-credits{
    display: none;
}

.highcharts-background {
    fill: #2B2B2B !important;
}

.highcharts-title{
    fill: #C0B8B3 !important;
}

.highcharts-text-outline{
    fill: #C0B8B3 !important;
    stroke-width: "0px";
}



/* Contenedor de la tarjeta */
.entrenador-cliente {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.entrenador {
    padding: 20px;
    background-color: #C4BBB6;
}

/* Título de la tarjeta */
.entrenador h4 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.entrenador h5 {
    margin: 0 0 10px 0;
    font-size: 17px;
    color: #333;
}

.a-entrenadorespersonales {
    padding: 5px 0;
    color: #333;
}

.cli-asignados {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
    text-align: left;
}

/* Lista de clientes */
.despl-clientes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease; /* Aumentar la duración de la transición */
}

/* Elementos de la lista de clientes */
.despl-clientes li {
    font-size: 18px;
    padding: 5px 0;
    border-top: 1px solid #eee;
}

.a-clientes {
    font-size: 18px;
    padding: 5px 0;
    color: #333;
}

/* Mostrar lista de clientes al hacer hover */
.entrenador-cliente:hover .despl-clientes {
    max-height: 1000px;
    transition: max-height 3.5s ease; /* Aumentar la duración de la transición en hover */
}



/* Tarjetas de Sesiones */

/* Contenedor de la tarjeta */
.sesiones {
    width: 375px;
    height: 235px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
    position: relative; /* Necesario para la superposición */
    background-color: #C4BBB6;
}

.sesion {
    padding: 20px;
    background-color: #C4BBB6;
}

.sesiones:hover {
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.50); /* Brillo blanco en el borde */
    border: 0px solid #ddd;
}

/* Título de la tarjeta */
.sesion h4 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.sesion h5 {
    margin: 0 0 10px 0;
    font-size: 17px;
    color: #333;
}

.sesion .plazas-disponibles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sesion .plazas-disponibles button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sesion .plazas-disponibles button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.disabled .overlay {
    display: block;
}

.disabled .plazas-disponibles button {
    pointer-events: none;
}

.apuntar-btn {
    background-color: #2B2B2B !important; /* Color de fondo inicial */
    color: white !important; /* Color del texto */
    border: none !important; /* Sin bordes */
    padding: 10px 15px !important; /* Relleno */
    text-align: center !important; /* Alineación del texto */
    text-decoration: none !important; /* Sin subrayado */
    display: inline-block !important; /* Display en línea */
    font-size: 16px !important; /* Tamaño de fuente */
    margin: 4px 2px !important; /* Margen */
    cursor: pointer !important; /* Cursor de puntero */
    border-radius: 5px !important; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s !important; /* Transiciones */
}

.apuntar-btn:hover {
    background-color: #2B2B2B !important; /* Color de fondo al pasar el ratón */
    transform: scale(1.05) !important; /* Aumentar ligeramente el tamaño */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important; /* Sombra */
}



/*Estilo tarjetas estadisicas*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px; /* Altura fija para evitar distorsión */
    perspective: 1000px;
    margin: 2rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}

.flip-card-front {
    background-color: #fff;
    color: black;
}

.flip-card-back {
    background-color: #2b2b2b;
    color: black;
    transform: rotateY(180deg);
    overflow-y: auto; /* Habilitar scroll si el contenido es grande */
}

.grid-view thead{
    background-color: #2b2b2b;
}

.grid-view td{
    background-color: #2b2b2b;
}

/* Barra de desplazamiento en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #2B2B2B; /* Color del track */
    border-radius: 50px; /* Radio de borde del track */
}

::-webkit-scrollbar-thumb {
    background: #C4BBB6; /* Color de la thumb */
    border-radius: 50px; /* Radio de borde de la thumb */
    border: 3px solid #2B2B2B; /* Borde alrededor de la thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #C4BBB6; /* Color de la thumb al hacer hover */
}

/* Barra de desplazamiento en Firefox */
*{
    scrollbar-width: thin; /* Grosor de la barra de desplazamiento */
    scrollbar-color: #C4BBB6 #2B2B2B; /* Color de la thumb y del track */
}

/* Opcional: Personalizar más aún la thumb y el track */
*::-webkit-scrollbar-track {
    background: #2B2B2B;
}


/* Barra de desplazamiento en WebKit (Chrome, Safari) */
.form-control::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.form-control::-webkit-scrollbar-track {
    background: #fff; /* Color del track */
    border-radius: 0px; /* Radio de borde del track */
}

.form-control::-webkit-scrollbar-thumb {
    background: #2B2B2B; /* Color de la thumb */
    border-radius: 0px; /* Radio de borde de la thumb */
    border: 3px solid #fff; /* Borde alrededor de la thumb */
}

.form-control::-webkit-scrollbar-thumb:hover {
    background: #2B2B2B; /* Color de la thumb al hacer hover */
}

/* Barra de desplazamiento en Firefox */
.form-control {
    scrollbar-width: thin; /* Grosor de la barra de desplazamiento */
    scrollbar-color: #2B2B2B #fff; /* Color de la thumb y del track */
}

/* Opcional: Personalizar más aún la thumb y el track */
.form-control::-webkit-scrollbar-track {
    background: #fff;
}


.highcharts-button-box, .highcharts-button-symbol{
    display: none !important;
}

.sesiones-form .form-control{
    height: 35px;
    font-size: 15px;
}

html {
    font-size: initial;
}

.input-group-addon{
    width: auto !important;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}

.dropdown-menu show{
    display: flex;
    flex-direction: column;
}

.tspan{
    fill: #C4BBB6;
}
